.anjuta*
Debug/
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h.in
config.sub
configure
depcomp
*~
install-sh
*.anjuta
ltmain.sh
missing
Makefile
config.h
config.log
config.status
.deps
libtool
src/.deps/
src/libspinnistate.pc
stamp-h1
.libs/
examples/spinnitest
*.o
*.la
*.lo

